
.photoList,#grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.photoList,#list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.photoItems,#grid {
  flex: 0 0 250px;
  list-style: none;
  margin: 10px;
}

.photoItems,#list {
  flex: 0 0 100%;
  list-style: none;
  margin: 10px;
}

#root {
  width: 700px;
  margin: 0 auto;
}

#container {
  margin: 0 auto;
}

#header {
  background: #70AFC4;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#title {
  flex: 0 0 60px;

}
#title p {
  color: white;
  text-shadow: 1px 1px #8CCCBE;
  font-size: 20px;
}
#gridView {
  width: 40px;
  height: 40px;
  background: white url('https://cdn0.iconfinder.com/data/icons/thin-gui-elements-1/24/thin-0208_grid_view-512.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 3px solid #8CCCBE;
  box-sizing: border-box;
  display: flex;
  margin: 3px;
}

#listView {
  width: 40px;
  height: 40px;
  background: white url("https://cdn3.iconfinder.com/data/icons/line/36/list_alt-512.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 3px solid #8CCCBE;
  box-sizing: border-box;
  display: flex;
  margin: 3px;
}
a:hover #listView {
  background: #8CCCBE url("https://cdn3.iconfinder.com/data/icons/line/36/list_alt-512.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 1s;
}
a:hover #gridView {
  background: #8CCCBE url("https://cdn0.iconfinder.com/data/icons/thin-gui-elements-1/24/thin-0208_grid_view-512.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 1s;
}

#views {
  flex: 0 0 80px;
  display: flex;
}

img {
  width: 300px;
}

body {
  font-family: 'Khula', sans-serif;
}

#list > #listImage {
  flex: 0 0 320px;
}
#list > #listDescription {
  flex: 0 0 350px;
}

.hashtags {
  list-style-type: none;
  padding: 0;
}

.tag {
  background: #8CCCBE;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 5px 8px;
}

.search {
  padding: 30px 0 0 0;
}

#gridCenter {
  justify-content: space-around;
}